.login-form-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background: url(https://i.imgur.com/zEuzPwD.png) no-repeat fixed;
}

.login-form-outside{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-inside{
  position: fixed;
  left: 430px;
  bottom: 270px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-button{
  margin-top: 5px;
}

.password-input{
  width: 75%;
}

.show-password-button{
  margin: 0;
  cursor: pointer;
}

.show-password-icon{
  color: lightgray;
}
