.alerts{
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.invalid{
  border: 2px solid #ff2c28;
  background-color: #ff2c2846;
}

.login-form-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background: url(https://i.imgur.com/zEuzPwD.png) no-repeat fixed;
}

.login-form-outside{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-inside{
  position: fixed;
  left: 430px;
  top: 235px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-button{
  margin-top: 5px;
}

.sign-up-button:disabled{
  border: 1px solid rgb(117, 117, 255);
  background-color: rgb(117, 117, 255);
  opacity: 1;
}

.password-input{
  width: 75%;
}

.show-password-button{
  margin: 0;
  cursor: pointer;
}

.show-password-icon{
  color: lightgray;
}
