<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2>Name</h2>

  <label for="first-name">First Name: </label>
  <input type="text" id="first-name" formControlName="firstName"/>

  <label for="last-name">Last Name: </label>
  <input type="text" id="last-name" formControlName="lastName"/>

  <div formGroupName="address">
    <h2>Address</h2>

    <label for="street">Street </label>
    <input type="text" id="street" formControlName="street"/>

    <label for="city">City: </label>
    <input type="text" id="city" formControlName="city"/>

    <label for="state">State: </label>
    <input type="text" id="state" formControlName="state"/>

    <label for="zip">Zip: </label>
    <input type="text" id="zip" formControlName="zip"/>

  </div>

  <div formArraName="aliases">
    <h2>Aliases</h2>
    <button (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
      <label for="alias-{{ i }}">Alias: </label>
      <input type="text" id="alias-{{ i }}" formControlName="i"/>
    </div>

  </div>

  <p>Form Status: {{profileForm.status}}</p>
  <p>Complete the form to enable the button.</p>
  <button type="submit" [disabled]="!profileForm.valid" >Submit</button>
</form>
