<div>
  <h2>
    <div *ngIf="isAdmin" class="text-center">
      <span >⭐</span><strong>Administrator</strong><span>⭐</span>
    </div>
    <div *ngIf="!isAdmin">
      Profile
    </div>
  </h2>
  <div class="profile-group">
    <div class="profile-photo-form">
      <div *ngIf="profileImageError.show" class="form-control invalid">
        {{profileImageError.message}}
      </div>
      <div class="img-container">
        <img #preview src="{{userProfileImage}}" alt="profile" class="img-thumbnail" />
      </div>
      <form class="form-group save-button">
        <input
          #imageInput
          class="form-control"
          id="profile-image"
          name="profile-image"
          type="file"
          accept="image/*"
          (change)="processFile(imageInput, preview)"
        />
        <!-- TODO: consume upload image service -->
        <button class="form-control btn btn-primary" type="button" (click)="saveFile()">Upload Image</button>
      </form>
    </div>
    <form class="form-group profile-form" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="input-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        disabled
        value="{{user.email}}"
      />
      </div>

      <div class="input-group">
        <label for="nickname" class="col-sm-2 control-label">Nickname:</label>
      <div *ngIf="nickNameError.show" class="form-control invalid">
        {{nickNameError.message}}
      </div>
      <input
        formControlName="nickname"
        class="form-control"
        type="nickname" placeholder="Nickname"
        id="nickname"
        name="nickname"
        value="{{user.nickname}}"
      />
      </div>

      <div class="input-group">
        <label for="firstName" class="col-sm-2 control-label">First Name:</label>
      <input
        formControlName="firstName"
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        value="{{user.firstName}}"
      />
      </div>

      <div class="input-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
      <input
        formControlName="lastName"
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
        value="{{user.lastName}}"
      />
      </div>

      <div class="input-group">
        <label for="cellphone" class="col-sm-2 control-label">Cellphone:</label>
      <input
        formControlName="cellphone"
        class="form-control"
        type="tel"
        id="cellphone"
        name="cellphone"
        value="{{user.cellphone}}"
      />
      </div>

      <div class="input-group">
        <label for="address" class="col-sm-2 control-label">Address:</label>
      <input
        formControlName="address"
        class="form-control"
        type="text"
        id="address"
        name="address"
        value="{{user.address}}"
      />
      </div>
      <div class="input-group">
        <button class="form-control btn btn-outline-primary" type="submit">Save Changes</button>
      </div>
    </form>
  </div>
  <p>Your information is completely private, only user nickname and profile image can be shown</p>
</div>
