<nav class="navbar sticky-top navbar-dark bg-black navigation">
  <a class="navbar-brand brand" routerLink="/">
    <fa-icon [icon]="faCoffee"></fa-icon>
  </a>
  <div class="rigth-links">
    <!-- TODO about page -->
    <a class="nav-link" routerLink="/about">About</a>
    <!-- TODO docs page password -->
    <a class="nav-link" routerLink="/documentation">Docs</a>
    <a *ngIf="canLogin && !beInLogin " class="nav-link" routerLink="/login">
      Login
      <fa-icon [icon]="faSignInAlt"></fa-icon>
    </a>
    <!-- TODO reset password -->
    <a *ngIf="canLogin && beInLogin " class="nav-link" routerLink="/reset-password">
      Forgot password?
    </a>
    <a *ngIf="!canLogin" class="nav-link" routerLink="/profile">
      <fa-icon [icon]="faUserAlt"></fa-icon>
    </a>
    <a *ngIf="!canLogin" class="nav-link" href="#" (click)="open(content)">
      Logout
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </a>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Are you sure you want to logout?</h4>
      <button type="button" class="btn btn-primary close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group center-buttons">
            <button class="btn btn-outline-primary margin-butons" (click)="logout()" type="button">Acept</button>
            <button class="btn btn-outline-secondary margin-butons" (click)="modal.dismiss('Cross click')" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>

</nav>
