<nav class="navbar sticky-top navbar-dark bg-black navigation">
  <a class="navbar-brand brand" routerLink="/">
    <fa-icon [icon]="faCoffee"></fa-icon>
  </a>
  <div class="rigth-links">
    <a class="nav-link" routerLink="/about">About</a>
    <a class="nav-link" routerLink="/documentation">Docs</a>
    <a *ngIf="canLogin" class="nav-link" routerLink="/login">
      Login
      <fa-icon [icon]="faSignInAlt"></fa-icon>
    </a>
    <a *ngIf="!canLogin" class="nav-link" href="/" (click)="logout()">
      Logout
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </a>
  </div>
</nav>
