<div>

  <nav>
    <ul>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/documentation">Docs</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
  </nav>

  <button (click)="sortUsersDown()">↓</button>
  <button (click)="sortUsersUp()">↑</button>

  <form [formGroup]="newUserForm" (ngSubmit)="addUser()">
    <p>Add a user:</p>
    <button type="submit">add</button>

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email"/>

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password"/>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" formControlName="firstName"/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" formControlName="lastName"/>
  </form>

  <div>
    <p>registered users: <span>{{ users.length }}</span></p>
  </div>

  <div>
    <ul>
      <li *ngFor="let user of users" id="user-{{user.id}}">
        email: {{ user.id }}
        email: {{ user.email }}
        firstName: {{ user.firstName }}
        lastName: {{ user.lastName }}
        actions: <button (click)="deleteUser(user)">X</button>
      </li>
    </ul>
  </div>

</div>
