<app-navigation></app-navigation>
<div>
  <form [formGroup]="newUserForm" (ngSubmit)="addUser()">
    <p>Add user:</p>
    <hr />
    <div class="alerts">
      <div *ngIf="showErrorEmailExists || newUserForm.controls.email.errors && (newUserForm.controls.email.touched || newUserForm.controls.email.dirty)" class="form-control invalid">
        <div *ngIf="newUserForm.controls.email.errors?.required">
          Email is required.
        </div>
        <div *ngIf="newUserForm.controls.email.errors?.email">
          Email is invalid.
        </div>
        <div *ngIf="newUserForm.controls.email.errors?.emailExists || (showErrorEmailExists)">
          Email already exists.
        </div>
      </div>
      <div *ngIf="newUserForm.controls.password.errors && (newUserForm.controls.password.touched || newUserForm.controls.password.dirty)" class="form-control invalid">
        <div *ngIf="newUserForm.controls.password.errors?.required">
          Password is required.
        </div>
        <div *ngIf="newUserForm.controls.password.errors?.minlength">
          Password must be at least 8 characters long.
        </div>
      </div>
    </div>
    <div class="add-user-form">
      <input
        id="email"
        type="text"
        placeholder="Email*"
        formControlName="email"
        class="form-control"
        required
        (input)="verifyEmailExists()"
      />
      <div class="input-group">
        <input
          id="password"
          type="{{passwordType}}"
          placeholder="Password*"
          formControlName="password"
          class="form-control password-input"
          required
        />
        <div (click)="showPassword()" class="form-control show-password-button">
          <fa-icon [icon]="showPasswordIcon" class="show-password-icon"></fa-icon>
        </div>
      </div>
      <input type="text" placeholder="FirstName" formControlName="firstName" class="form-control" />
      <input type="text" placeholder="LastName" formControlName="lastName" class="form-control" />
      <button
        type="submit"
        class="form-control btn btn-outline-primary add-button"
        [disabled]="newUserForm.invalid || showErrorEmailExists"
      >
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </button>
    </div>
  </form>

  <div class="users-toolbar">
    <p>Registered users: <span>{{ users.length }}</span></p>
    <div class="toolbar btn-group toolbar-tools">
      <button (click)="sortUsersDown()" class="btn btn-toolbar btn-primary"><fa-icon [icon]="faArrowDown"></fa-icon></button>
      <button (click)="sortUsersUp()" class="btn btn-toolbar btn-primary"><fa-icon [icon]="faArrowUp"></fa-icon></button>
    </div>
  </div>

  <div class="users-list">
    <div *ngIf="alert.show" class="form-control invalid alert-message">
      <p>{{alert.message}}</p>
      <button (click)="closeAlert()" class="btn-close"></button>
    </div>
    <table class="table users-table">
      <thead class="sticky">
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Administrator</th>
          <th scope="col">Banned</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.email }}</th>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>
            <input
            type="checkbox"
            class="form-check-input"
            disabled
            [checked]="isAdmin(user)"
            >
          </td>
          <td>
            <input
            type="checkbox"
            class="form-check-input"
            disabled
            [checked]="isBanned(user)"
            >
          </td>
          <td class="action-buttons">
            <!-- TODO make a modal to ensure this buttons -->
            <div class="btn-group" *ngIf="!isAdmin(user)">
              <button
                *ngIf="!isBanned(user)"
                (click)="banUser(user)"
                class="btn btn-secondary mr-2"
                placement="right"
                ngbTooltip="ban"
              >
                <fa-icon [icon]="faBan"></fa-icon>
              </button>
              <button
                (click)="deleteUser(user)"
                class="btn btn-secondary mr-2"
                placement="right"
                ngbTooltip="delete"
              >
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
